<h2>Demos <small>Angular</small></h2>
<br />

<div class="row">
  <div class="col">
    <h3>Uso del ngStyle</h3>
    <hr />
    <p [style.fontSize.px]="tamanioFont">
      Esta es una frase cualquiera: Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Ullam quasi consequatur illo accusantium exercitationem
      !
    </p>

    <button
      class="btn btn-primary mr-2"
      (click)="tamanioFont = tamanioFont + 5"
    >
      <i class="fa fa-plus"></i>
    </button>

    <button class="btn btn-primary" (click)="tamanioFont = tamanioFont - 5">
      <i class="fa fa-minus"></i>
    </button>
  </div>
</div>
<br />

<div class="row">
  <div class="col">
    <h3>Uso del ngClass</h3>
    <hr />
    <div [ngClass]="alerta" class="alert mt-1" role="alert">
      A simple alert alert—check it out!
    </div>

    <button
      type="button"
      class="mr-1 btn btn-primary"
      (click)="alerta = 'alert-primary'"
    >
      Primary
    </button>

    <button
      type="button"
      class="mr-1 btn btn-secondary"
      (click)="alerta = 'alert-secondary'"
    >
      Secondary
    </button>

    <button
      type="button"
      class="mr-1 btn btn-success"
      (click)="alerta = 'alert-success'"
    >
      Success
    </button>

    <button
      type="button"
      class="mr-1 btn btn-danger"
      (click)="alerta = 'alert-danger'"
    >
      Danger
    </button>

    <button
      type="button"
      class="mr-1 btn btn-warning"
      (click)="alerta = 'alert-warning'"
    >
      Warning
    </button>
    <button
      type="button"
      class="mr-1 btn btn-info"
      (click)="alerta = 'alert-info'"
    >
      Info
    </button>

    <button
      type="button"
      class="mr-1 btn btn-light"
      (click)="alerta = 'alert-ligh'"
    >
      Light
    </button>

    <button
      type="button"
      class="mr-1 btn btn-dark"
      (click)="alerta = 'alert-dark'"
    >
      Dark
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <h3
      [ngClass]="{
        'text-danger': propiedades.tipoDanger,
        'text-info': !propiedades.tipoDanger
      }"
    >
      Texto whatever
    </h3>

    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-danger': propiedades.tipoDanger,
        'btn-info': !propiedades.tipoDanger
      }"
      (click)="propiedades.tipoDanger = !propiedades.tipoDanger"
    >
      Cambiar
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <button
      class="btn btn-primary"
      type="button"
      (click)="ejecutar()"
      [disabled]="loading"
    >
      <i
        class="fa"
        [ngClass]="{ 'fa-refresh fa-spin': loading, 'fa-save': !loading }"
      ></i>
      <span *ngIf="!loading"> Guardar cambios</span>
      <span *ngIf="loading"> Guardando</span>
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <h3>Directivas</h3>
    <hr />
    <p [appResaltado]="'orange'">Ejemplo de directivas</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>ngSwitch</h3>
    <hr />
    <div [ngSwitch]="tipoAlerta">
      <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple primary alert—check it out!
      </div>
      <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple primary alert—check it out!
      </div>
      <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple primary alert—check it out!
      </div>
      <div *ngSwitchDefault>defaul</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>If else => ngTemplate y evitar multiple evaluación</h3>
    <hr />
    <div *ngIf="usuario; then logout else login">      
    </div>
    <ng-template #logout>
      Bienvenido {{usuario}}
    </ng-template>
    <ng-template #login>
      Por favor ingrese <br>
      <button class="btn btn-primary" (click)="usuario='Miguel'">Ingresar</button>
    </ng-template>
  </div>
</div>
